{% extends '.layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}    
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./components/card.njk" import card %}
{% from "./components/macro.njk" import crumbToken %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}       
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% block pageTitle %}
  {{ siteTitle }} - Start
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to applications",
    href: "/applications",
	  attributes: {id: 'linkBack'}
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">  
      <h1 class="govuk-heading-l">Messages</h1>     
  </div>
  <div class="govuk-grid-row">  
      <a class="govuk-link" href="/messages/create">Send Message</a>
  </div>
  <div class="govuk-grid-row">     
      {{ govukTable({
        attributes: {
          'data-module': 'moj-sortable-table'
        },
        head: [
          {
            text: "Grant Type",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Application",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Subject",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Created On",
            attributes: {
              "aria-sort": "none"
            },
            format: "date"
          },
          {
            text: "View",
            attributes: {
              "aria-sort": "none"
            }
          }
        ],
        rows: messages
      }) }}
    </div>
  
   
{% endblock %}